<header class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Ajouter un film</h3>
</header>
<section class="modal-body">
    <alert-message show="showAlert" title="{{errorTitle}}" message="{{errorMessage}}"></alert-message>
    <form name="movieForm" class="form-horizontal">
        <div class="control-group" ng-class="{error : movieForm.inputTitle.$error.required}">
            <label class="control-label">Titre :</label>
            <input type="text" name="inputTitle" ng-model="movie.title" autofocus required>
            <span class="help-block" ng-show="movieForm.inputTitle.$error.required">Le titre est obligatoire</span>
        </div>
        <div class="control-group" ng-class="{error : movieForm.inputYear.$error.pattern}">
            <label class="control-label">Année de sortie :</label>
            <input type="text" name="inputYear" ng-model="movie.releaseYear" ng-pattern="/(19|20)\d\d/">
            <span class="help-block" ng-show="movieForm.inputYear.$error.pattern">L'année n'est pas valide</span>
        </div>
        <div class="control-group">
            <label class="control-label">Réalisateur : </label>
            <input type="text" ng-model="movie.directors">
        </div>
        <div class="control-group">
            <label class="control-label">Acteurs :</label>
            <input type="text" ng-model="movie.actors">
        </div>
        <div class="control-group" ng-class="{error : movieForm.textareaSynopsis.$error.maxlength}">
            <label class="control-label">Synopsis :</label>
            <input type="text" ng-model="movie.synopsis" name="textareaSynopsis"  ng-maxlength="140">
            <span class="help-block" ng-show="movieForm.textareaSynopsis.$error.maxlength">140 caractères maximum</span>
        </div>
        <div class="control-group" ng-class="{error : movieForm.inputRate.$error.min || movieForm.inputRate.$error.max}">
            <label class="control-label">Note :</label>
            <input type="number" name="inputRate" placeholder="entre 1 et 5" ng-model="movie.rate" min="0" max="5">
            <span class="help-block" ng-show="movieForm.inputRate.$error.min">La note doit être supérieure à 0</span>
            <span class="help-block" ng-show="movieForm.inputRate.$error.max">La note doit être inférieure à 5</span>

        </div>
    </form>
</section>
<footer class="modal-footer">
    <button class="btn btn-danger btn-small" ng-click="dismiss();">Annuler</button>
    <button class="btn btn-success" ng-click="addMovie(movie)" ng-disabled="movieForm.$invalid">Ajouter</button>
</footer>