<!-- header-->
<header class="page-header">
    <h1>Ma vidéothèque <small>{{movies.length}} films</small>
        <button class="btn btn-primary" data-toggle="modal" data-target="#movie-form-modal">Ajouter un film</button>
    </h1>
</header>

<!-- barre d'actions -->
<section class="well form-inline">
    <input class="span5" type="text" ng-model="search" placeholder="Rechercher">
    <section class="pull-right">
        <button class="btn btn-success" ng-click="toogleView()"><i ng-class="tableViewIcon"></i></button>
        <button class="btn btn-info" ng-click="tri = 'releaseYear'; reverse = !reverse">Trier par année</button>
        <button class="btn btn-info" ng-click="tri = 'title'; reverse = !reverse">Trier par titre</button>
    </section>
</section>


<!-- liste des films -->
<div ng-switch on="tableView" >
<ul class="thumbnails" ng-switch-when="false">
    <li ng-repeat="movie in movies | orderBy:tri:reverse | filter : search " class="span12">
        <img ng-src="{{movie.poster | poster}}" class="span2">
        <div class="caption">
            <h3>{{movie.title | uppercase}}
                <button class="btn btn-danger" ng-click="deleteMovie(movie)"><i class="icon-trash icon-white"></i></button>
                <a class="btn btn-info" href="#/movies/edit/{{movie.id}}"><i class="icon-edit icon-white"></i></a>
            </h3>
            <p><b>Année de sortie : </b>{{movie.releaseYear}}</p>
            <p><b>Réalisateur : </b>{{movie.directors}}</p>
            <p><b>Acteurs : </b>{{movie.actors}}</p>
            <p><b>Synopsis : </b>{{movie.synopsis}}</p>
            <p><b>Vu le : </b> {{movie.lastViewDate | date:'fullDate'}}</p>
            <p><b>Prix : </b> {{movie.price | currency }}</p>
            <p><b>Note : </b> {{movie.rate | stars}}</p>
        </div>
    </li>
</ul>
<table class="table table-striped" ng-switch-default>
    <thead>
    <tr>
        <th>#</th>
        <th>Titre</th>
        <th>Réalisateur</th>
        <th>Année de sortie</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="movie in movies | orderBy:tri:reverse | filter : search ">
        <td>{{$index + 1}}</td>
        <td>{{movie.title | uppercase}}</td>
        <td>{{movie.directors}}</td>
        <td>{{movie.releaseYear}}</td>
        <td>{{movie.rate | stars}}</td>
    </tr>
    </tbody>
</table>
</div>


<!-- formulaire de création - caché par défaut -->
<div id="movie-form-modal" class="modal hide fade" ng-controller="movieFormController">
    <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Ajouter un film</h3>
    </header>
    <section class="modal-body">
        <form novalidate name="movieForm" class="form-horizontal">
            <div class="control-group" ng-class="{error : !movieForm.$pristine && movieForm.inputTitle.$error.required}">
                <label class="control-label">Titre :</label>
                <input type="text" name="inputTitle" ng-model="movie.title" required>
                <span class="help-block" ng-show="!movieForm.$pristine && movieForm.inputTitle.$error.required">Le titre est obligatoire</span>
            </div>
            <div class="control-group" ng-class="{error : movieForm.inputYear.$error.pattern}">
                <label class="control-label">Année de sortie :</label>
                <input type="text" name="inputYear" ng-model="movie.releaseYear" ng-pattern="/(19|20)\d\d/">
                <span class="help-block" ng-show="movieForm.inputYear.$error.pattern">L'année n'est pas valide</span>
            </div>
            <div class="control-group">
                <label class="control-label">Réalisateur : </label>
                <input type="text" ng-model="movie.directors">
            </div>
            <div class="control-group">
                <label class="control-label">Acteurs :</label>
                <input type="text" ng-model="movie.actors">
            </div>
            <div class="control-group" ng-class="{error : movieForm.textareaSynopsis.$error.maxlength}">
                <label class="control-label">Synopsis :</label>
                <input type="text" ng-model="movie.synopsis" name="textareaSynopsis"  ng-maxlength="140">
                <span class="help-block" ng-show="movieForm.textareaSynopsis.$error.maxlength">140 caractères maximum</span>
            </div>
            <div class="control-group" ng-class="{error : movieForm.inputRate.$error.min || movieForm.inputRate.$error.max}">
                <label class="control-label">Note :</label>
                <input type="number" name="inputRate" placeholder="entre 1 et 5" ng-model="movie.rate" min="0" max="5">
                <span class="help-block" ng-show="movieForm.inputRate.$error.min">La note doit être supérieure à 0</span>
                <span class="help-block" ng-show="movieForm.inputRate.$error.max">La note doit être inférieure à 5</span>

            </div>
        </form>
    </section>
    <footer class="modal-footer">
        <button data-dismiss="modal" class="btn btn-danger btn-small">Annuler</button>
        <button data-dismiss="modal" class="btn btn-success" ng-click="addMovie(movie)" ng-disabled="movieForm.$invalid">Ajouter</button>
    </footer>
</div>
