<!DOCTYPE html>
<html ng-app="angularMovieApp">
<head>
    <title>AngularMovie</title>
	<link rel="stylesheet" href="lib/bootstrap.css/css/bootstrap.min.css">git ad
    <link rel="stylesheet" href="css/app.css">
</head>
<body>

<!-- barre de navigation -->
<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <section class="container">
            <a class="brand" href="index.html">AngularMovie</a>
            <ul class="nav">
                <li><a href="movie-list.html">Mes films</a></li>
            </ul>
        </section>
    </div>
</header>

<!-- partie principale -->
<section class="container" ng-controller="moviesController">

    <header class="page-header">
        <h1>Ma vidéothèque <small>{{ label}}</small>
            <button class="btn btn-primary" data-toggle="modal" data-target="#movie-form-modal">Ajouter un film</button>
        </h1>
    </header>

    <ul class="thumbnails">
        <li ng-repeat="movie in movies" class="span12">
            <img ng-src="{{movie.poster}}" class="span2">
            <div class="caption">
                <h3>{{movie.title}}</h3>
                <p><b>Année de sortie : </b>{{movie.releaseYear}}</p>
                <p><b>Réalisateur : </b>{{movie.directors}}</p>
                <p><b>Acteurs : </b>{{movie.actors}}</p>
                <p><b>Synopsis : </b>{{movie.synopsis}}</p>
                <p><b>Note : </b>{{movie.rate}}</p>
            </div>
        </li>
    </ul>

</section>

<!-- formulaire de création - caché par défaut -->
<div id="movie-form-modal" class="modal hide fade" ng-controller="movieFormController">
    <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal">?</button>
        <h3>Ajouter un film</h3>
    </header>
    <section class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Titre :</label>
                <input type="text" ng-model="movie.title">
            </div>
            <div class="control-group">
                <label class="control-label">Année de sortie :</label>
                <input type="text" ng-model="movie.releaseYear">
            </div>
            <div class="control-group">
                <label class="control-label">Réalisateur : </label>
                <input type="text" ng-model="movie.directors">
            </div>
            <div class="control-group">
                <label class="control-label">Acteurs :</label>
                <input type="text" ng-model="movie.actors">
            </div>
            <div class="control-group">
                <label class="control-label">Synopsis :</label>
                <textarea ng-model="movie.synopsis"></textarea>
            </div>
            <div class="control-group">
                <label class="control-label">Note :</label>
                <input type="number" placeholder="entre 1 et 5" ng-model="movie.rate">
            </div>
        </form>
    </section>
    <footer class="modal-footer">
        <button data-dismiss="modal" class="btn btn-danger btn-small">Annuler</button>
        <button data-dismiss="modal" class="btn btn-success" ng-click="addMovie(movie)">Ajouter</button>
    </footer>
</div>

<script type="text/javascript" src="lib/jquery/jquery.js"></script>
<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="lib/bootstrap.css/js/bootstrap.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>

</body>
</html>
